#cloud-config
write_files:
- path: /etc/rancher/rke2/config.yaml
  permissions: "0600"
  owner: root:root
  content: |
    server: ${rke2_url}
    token: "${rke2_cluster_secret}"
    kubelet-arg:
    - "cloud-provider=external"
- path: /opt/rke2/run_rke2.sh
  permissions: "0755"
  owner: root:root
  content: |
    #!/bin/bash
    internal_ip=$(curl -sfL http://169.254.169.254/hetzner/v1/metadata/private-networks | grep "ip:" | head -n 1| cut -d ":" -f2 | xargs)
    # internal_mac=$(curl -sfL http://169.254.169.254/hetzner/v1/metadata/private-networks | grep "mac_address:" | head -n 1 | awk '{print $2}')
    echo "node-ip: $internal_ip" >> /etc/rancher/rke2/config.yaml
    # echo -e "[Match]\nMACAddress=$internal_mac\n[Link]\nName=priv" > /etc/systemd/network/80-internal.link

    # Wait for master to be up
    while ! curl -sk -m 5 "${rke2_url}"; do sleep 1; done

    export INSTALL_RKE2_TYPE=agent
    curl -sfL https://get.rke2.io | sh -

    systemctl enable rke2-agent
    systemctl start rke2-agent
    sleep 20
    for bin in $(readlink -f /var/lib/rancher/rke2/bin/*); do
      ln -sf $bin /usr/local/bin/$(basename $bin)
    done
runcmd:
- /opt/rke2/run_rke2.sh
